* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores y estilos root */

:root {
  --Pacman-yellow: #ffff00;
  --Neon-blue: #1919a6;
  --Bluebonnet: #2121de;
  --Tumbleweed: #dea185;
  --Pacman-red: #fd0000;
  --Electric-green: #00ff00;
  --Pacman-orange: #ff8303;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 540px 1fr;
  grid-template-rows: 3fr 540px 1fr;
  grid-template-areas:
    "header header header"
    "left-sider main right-sider"
    "footer footer footer";
  justify-content: center;
  grid-gap: 15px;
}

.logo {
  grid-area: header;
  width: 270px;
  height: 100%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/pacman-19a45.appspot.com/o/pacmanLogo-min.png?alt=media&token=653f674e-bdc7-463c-ac03-f63198ed10c2);
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  align-self: flex-start;
}

.container {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  /* 360px es el mínimo para celulares, 720px es mas para tablet o PC un punto medio sería 540px. */
  width: 540px;
  height: 540px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.score_title {
  grid-area: header;
  justify-self: center;
  align-self: flex-end;
  color: white;
}

.vacio {
  width: 20px;
  height: 20px;
  background-color: black;
}

.pared {
  width: 20px;
  height: 20px;
  background-color: var(--Neon-blue);
}

.miga {
  width: 20px;
  height: 20px;
  background-color: var(--Tumbleweed);
}

.queso {
  width: 20px;
  height: 20px;
  background-color: var(--Pacman-yellow);
}
